{% extends "wishlists/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "vendor/css/index.css" %}" />
{% endblock css %}
{% block content %}
  <div class="container-lg my-4">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-img-container">
            <img src="img/pen_image.jpg"
                 class="card-img"
                 alt="Card4"
                 height="100%"
                 width="100%" />
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Карта 1</h5>
            <p class="card-text text-secondary">Нет описания</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-purple" target="_blank">Ссылка</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-img-container">
            <img src="img/present_placeholder.jpg"
                 class="card-img"
                 alt="Card4"
                 height="100%"
                 width="100%" />
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">12345678901234567890123456789012345678</h5>
            <p class="card-text">1234567890123456789012345678901234567890</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-purple" target="_blank">Ссылка</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-img-container">
            <img src="img/present-placeholder.png"
                 class="card-img"
                 alt="Card4"
                 height="100%"
                 width="100%" />
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Карта 4</h5>
            <p class="card-text">40 СИМВОЛОВ МАКСИМУМ!</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-purple" target="_blank">Ссылка</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-img-container">
            <img src="img/ball_image.jpg"
                 class="card-img"
                 alt="Card4"
                 height="100%"
                 width="100%" />
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Карта 4</h5>
            <p class="card-text">40 СИМВОЛОВ МАКСИМУМ!</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-purple" target="_blank">Ссылка</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card h-100">
          <div class="card-img-container">
            <img src="img/pen_image.jpg"
                 class="card-img"
                 alt="Card4"
                 height="100%"
                 width="100%" />
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Карта 4</h5>
            <p class="card-text">Ручку эту хочу просто жесть</p>
            <div class="mt-auto">
              <a href="#" class="btn btn-purple" target="_blank">Ссылка</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
