{% extends "wishlists/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "vendor/css/index.css" %}" />
{% endblock css %}
{% block content %}
  <div class="container-lg my-4 text-center">
    <h1 class="display-5 fw-bold">Добро пожаловать на Wheesh</h1>
    <p class="lead text-secondary mb-4">Идеальная платформа для создания и обмена вишлистами. С кем угодно.</p>
    <p class="h5 mb-4">
      Wheesh создан для того, чтобы вы могли легко создавать вишлисты к любому
      событию — дню рождения, празднику или даже просто так! Делитесь своими
      желаниями с близкими и упрощайте процесс выбора подарков.
    </p>
    {% if user.is_authenticated %}
      <a href="#" class="btn btn-purple btn-lg mb-4">Мой вишлист</a>
    {% else %}
      <a href="{% url "users:register" %}" class="btn btn-purple btn-lg mb-4">Начать сейчас</a>
    {% endif %}
    <div class="custom-divider"></div>
    <!-- Highlight Section -->
    <div class="highlight-section my-5">
      <h2 class="mb-4">Преимущества платформы</h2>
      <div class="row g-4">
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="p-4 rounded feature-card h-100 d-flex flex-column">
            <i class="fas fa-hand-holding-heart icon-feature mb-3"></i>
            <h5>
              <b>Бронирование подарков</b>
            </h5>
            <p>
              Ваши друзья могут забронировать подарок, исключая дублирование и
              облегчая выбор.
            </p>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="p-4 rounded feature-card h-100 d-flex flex-column">
            <i class="fas fa-lock icon-feature mb-3"></i>
            <h5>
              <b>Конфиденциальные списки</b>
            </h5>
            <p>
              Ваши списки желаний видны только авторизованным пользователям.
              Полная приватность!
            </p>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="p-4 rounded feature-card h-100 d-flex flex-column">
            <i class="fas fa-gift icon-feature mb-3"></i>
            <h5>
              <b>Эффект сюрприза</b>
            </h5>
            <p>
              Вы не увидите, какой подарок забронирован. Сохраните магию
              неожиданности!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
