{% extends "wishlists/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "vendor/css/reservations.css" %}" />
{% endblock css %}
{% block content %}
    <div class="container-lg mb-4">
        <div class="highlight-section mt-4">
            <h2 class="mb-4">Преимущества платформы</h2>
            <div class="overflow-auto">
                <div class="row flex-nowrap g-4">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100 card-transition">
                            <div class="card-img-container">
                                <img src="{% static "vendor/img/present-placeholder.png" %}" class="card-img" alt="Card4"height="100%" width="100%" />
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text text-secondary">Нет описания</p>
                                <div class="mt-auto">
                                    <a href="#"
                                       class="btn btn-purple"
                                       target="_blank"
                                       data-price="1000"
                                       data-original-text="Ссылка">Ссылка</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100 card-transition">
                            <div class="card-img-container">
                                <img src="{% static "vendor/img/present-placeholder.png" %}" class="card-img" alt="Card4"height="100%" width="100%" />
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text text-secondary">Нет описания</p>
                                <div class="mt-auto">
                                    <a href="#"
                                       class="btn btn-purple"
                                       target="_blank"
                                       data-price="1000"
                                       data-original-text="Ссылка">Ссылка</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100 card-transition">
                            <div class="card-img-container">
                                <img src="{% static "vendor/img/present-placeholder.png" %}" class="card-img" alt="Card4"height="100%" width="100%" />
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text text-secondary">Нет описания</p>
                                <div class="mt-auto">
                                    <a href="#"
                                       class="btn btn-purple"
                                       target="_blank"
                                       data-price="1000"
                                       data-original-text="Ссылка">Ссылка</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100 card-transition">
                            <div class="card-img-container">
                                <img src="{% static "vendor/img/present-placeholder.png" %}" class="card-img" alt="Card4"height="100%" width="100%" />
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text text-secondary">Нет описания</p>
                                <div class="mt-auto">
                                    <a href="#"
                                       class="btn btn-purple"
                                       target="_blank"
                                       data-price="1000"
                                       data-original-text="Ссылка">Ссылка</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
