{% extends "wishlists/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "vendor/css/wishlist.css" %}" />
{% endblock css %}
{% block content %}
  <div class="container-lg my-4">
    <div class="row">
      {% if wishlist %}
        {% for present in wishlist %}
          <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
            <div class="card h-100 card-transition">
              {% if not present.reserved_by %}
                <a href="#"
                   class="btn btn-sm btn-light edit-btn position-absolute top-0 end-0 me-2 mt-2 opacity-75">
                  <i class="fa-solid fa-plus fas icon-feature text-secondary"></i>
                </a>
              {% else %}
                <a href="#"
                   class="btn btn-sm btn-light edit-btn position-absolute top-0 end-0 me-2 mt-2 opacity-75">
                  <i class="fa-solid fa-minus fas icon-feature text-secondary"></i>
                </a>
              {% endif %}
              <div class="card-img-container">
                <img src="{% if present.image %}{{ present.image.url }}{% else %}{% static "vendor/img/present-placeholder.png" %}{% endif %}" class="card-img" alt="Card4" height="100%" width="100%" />
              </div>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ present.title }}</h5>
                {% if present.description %}
                  <p class="card-text">{{ present.description }}</p>
                {% else %}
                  <p class="card-text text-secondary">Нет описания</p>
                {% endif %}
                <div class="mt-auto">
                  <a href="{{ present.link }}"
                     class="btn btn-purple"
                     target="_blank"
                     data-price="{{ present.price }}"
                     data-original-text="Ссылка">Ссылка</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-sm-12 text-center mt-4">
          <p class="text-secondary mb-1">Пусто...</p>
          <p class="text-secondary mb-1">( o.o)</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script type="text/javascript" src="{% static "vendor/js/wishlist.js" %}"></script>
{% endblock scripts %}
